{% extends "base.html" %}{% load static %}

{% block content %}

<div class="card">
    <div class="card-header">
        <h5 class="card-title">
            Medidores
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#newMeterForm" id="aBtn1">
                Añadir medidor
            </button>
        </h5>

        <div class="modal modal-lg fade" id="newMeterForm" tabindex="-1" aria-labelledby="newMeterFormT" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="newMeterFormT">Formulario de medidores</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()"></button>
                    </div>
                    
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert" style="display: none" id="location_alert">
                            Debe escoger una ubicacion
                        </div>
                        <label for="id_location">Localización</label>
                        <select required class="form-select mb-4" name="location" id="id_location">
                            <option value="0" selected disabled>Choose</option>
                            {% for location in locations %}
                            <option value="{{ location.lo_id }}">{{ location.lo_name }} - {{ location.lo_addrl1 }}, {{ location.ct_code.ct_name }}</option>
                            {% endfor %}
                        </select>

                        <div class="alert alert-warning" role="alert" style="display: none" id="name_alert">
                            Debe ingresar una etiqueta. Ejemplo: Edificio central
                        </div>
                        <label for="id_name">Etiqueta</label>
                        <input class="form-control mb-4" maxlength="100" name="name" id="id_name" placeholder="Central Block">

                        <div class="alert alert-warning" role="alert" style="display: none" id="url_alert">
                            Debe ingresar una URL de acceso
                        </div>
                        <label for="id_url">URL acceso</label>
                        <input class="form-control" maxlength="100" name="url" id="id_url">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="aBtn2" onclick="addMeter()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table" id="metable">
            <thead>
                <tr>
                    <th scope="col">Localizacion</th>
                    <th scope="col">Etiqueta</th>
                    <th scope="col">_</th>
                </tr>
            </thead>
            <tbody>
                {% for meter in object_list %}
                <tr id="mtid_{{ meter.mt_id }}">
                    <td id="mtloc_{{ meter.mt_id }}">{{ meter.lo_id.lo_name }} - {{ meter.lo_id.lo_addrl1 }}, {{ meter.lo_id.ct_code.ct_name }}</td>
                    <td id="mtname_{{ meter.mt_id }}">{{ meter.mt_name }}</td>
                    <td>
                        <button id="uBtn_{{ meter.mt_id }}" class="btn btn-primary" onclick="editMeter('{{ meter.mt_id }}')">Editar</button>
                        <button id="dBtn_{{ meter.mt_id }}" class="btn btn-danger" onclick="delMeter('{{ meter.mt_id }}')">Eliminar</button>
                    </td>
                </tr>
                {% empty %}
                <tr id="mtid_0">
                    <td colspan="3">Sin medidores</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/consumers.js' %}"></script>

{% endblock %}