{% extends "base.html" %}{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Acciones automáticas sobre portal <strong>{{location.pr_webacc}}</strong> para <strong>{{location.lo_name}}, {{location.ct_code.ct_name}}</strong></h5>
    </div>
    <div class="card-body">
        {% for action in actions %}
        <div class="card mb-4">
            <div class="card-header">
                <h6 class="card-title">{{ action.actionType.at_desc }}<button class="btn btn-primary float-end" onclick="editEvents('{{request.GET.location}}','{{action.actionType.at_id}}')">{% if action.check %}Editar eventos{% else %}Añadir eventos{% endif %}</button></h6>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Tipo de evento</th>
                            <th scope="col">Acceso por "id"</th>
                            <th scope="col">Acceso por "name"</th>
                            <th scope="col">Acceso por "xpath"</th>
                            <th scope="col">Valor del campo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in action.actionSet %}
                        <tr>
                            <th scope="row">{{ event.ad_seq }}</th>
                            <td>{{ event.ad_type.at_desc }}</td>
                            <td>{% if event.ad_sc_id %}{{ event.ad_sc_id }}{% endif %}</td>
                            <td>{% if event.ad_sc_name %}{{ event.ad_sc_name }}{% endif %}</td>
                            <td>{% if event.ad_sc_xp %}{{ event.ad_sc_xp }}{% endif %}</td>
                            <td>{% if event.ad_sc_val %}{{ event.ad_sc_val }}{% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal modal-lg fade" id="actionModalForm" tabindex="-1" aria-labelledby="actionModalFormT" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="actionModalFormT">Formulario de acciones</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close" onclick="clearForm()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="aBtn2" onclick="addAction()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/actions.js' %}"></script>

{% endblock %}