{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-6">
                <h5 class="card-title">Proveedores</h5>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newProviderForm">
                Añadir proveedor
                </button>

                <div class="modal fade" id="newProviderForm" tabindex="-1" aria-labelledby="newProviderFormT" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="newProviderFormT">Nueva localización</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'providers:create' %}">
                                <div class="modal-body">
                                    <div class="form-group mb-4">
                                        <label for="id_name">Nombre</label>
                                        <input required class="form-control" maxlength="100" name="name" id="id_name" placeholder="Proveedor Corp Ejemplo">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_client">Cliente</label>
                                        <select required class="form-control" name="client" id="id_client" onchange="btnState('addProbBtn', true)">
                                            <option selected disabled>Choose</option>
                                            {% for location in locations %}
                                            <option value="{{ location.lo_id }}">{{ location.lo_name }}, {{ location.ct_code.ct_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                                    <button type="submit" class="btn btn-primary" id="addProbBtn" disabled>Añadir</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cliente</th>
                </tr>
            </thead>
            <tbody>
                {% for provider in object_list %}
                <tr>
                    <td>{{ provider.pr_name }}</td>
                    <td>{{ provider.lo_id.lo_name }}, {{ provider.lo_id.ct_code.ct_name }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="2">Sin Proveedores</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}